/* hex: d6fff6 231651 4dccbd 2374ab ff8484 */
* {
    margin: 0px;
}
#hero {
    background-color: #2374ab;
    color: #ff8484;
}
nav {
    background-color: #231651;
    font-family: montserrat;
    display: flex;
    height: 7%
}
nav h1{
    color: #d6fff6;
    font-family: montserrat;
    text-decoration: none;
}
#hero {
    display: flex;
    height: 93%;
}
#hero h1 {
    margin-top: 30%;
    font-family: montserrat;
    font-style: italic;
    font-weight: bold;
}
button {
    border-radius: 5px;
    width: 95px;
    height: 40px;
}
.name a{
    text-decoration: none;
    color: #d6fff6;
}
.name a:hover{
    color:#ff8484;
    transition: all 0.5s ease-in;
}
ul {

    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    text-decoration: none;
    color:#2374ab;
    padding: 10% 16px;
}
li a:hover {
    background-color: #ff8484;
}

a:visited {
    text-decoration: none;
}
body {
    background-color: #d6fff6;
}
body h1{
    font-family: montserrat;
    font-style: italic;
    font-weight: bold;
}
body h2 {
    font-family: montserrat;
    font-weight: bold; 
}
#grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.grid-item {
    color: #ff8484;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: montserrat;
    background-color: #231651;
}
.grid-item:hover {
    background-color: #461651;
    cursor: pointer;
}
#select {
    width: 100%;
    background-color: #231651;
    height: 100vh;
}